html,body{position: relative;height: 100%;}
body{margin: 0;}
p{margin: 0;}
/*input[type='checkbox']{
	height: 0px;
	position: relative;
	vertical-align: middle;
}
input[type='checkbox']:before{
	content: '';
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: -10px;
	left: 0;
	background-image: url('../image/uncheck.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
input[type='checkbox']:checked:before{
	content: '';
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0;
	top: -10px;
	background-image: url('../image/check.png');
}*/

.box{
	width: 50%;
}

/*显示模块*/
.zf_select{
	font-size: 16px;
	background-color: #fbfbfb;
	border: 1px solid #d5d5d5;
	padding: 0px 20px 5px 12px;
	color: #000;
	position: relative;
	min-height: 36px;
}

.zf_select i.drop_down_arrow{
	position: absolute;
	right: 8px;
	top: calc(50% - 12px);
}

.zf_select p{
	display: inline-block;
	background-color: #f08e2d;
	color: #fff;
	border-radius: 3px;
	padding: 1px 8px;
	font-size: 14px;
	margin-top: 5px;
	margin-right: 5px;
}

.zf_select p span{
	max-width: 80px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
}

.zf_select p i{
	margin-left: 5px;
	cursor: pointer;
	display: inline-block;
	width: 14px;
	text-align: center;
	border-radius: 3px;
}

.zf_select p i:hover{
	background-color: #fff;
	color: #f08e2d;
}

/*下拉框*/
.zf_selector_dropDown_area{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 999999;
}

.zf_select_list{
	position: absolute;
	background-color: #fbfbfb;
	border: 1px solid #D5D5D5;
	border-top: none;
	max-height: 364px;
	overflow: auto;
}

.zf_select_list .select_item{
	padding: 5px 10px;
}

.zf_select_list .select_item:hover{background-color: #eee;}

.zf_select_list .select_item .select_content{
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	font-size: 14px;
	width: calc(100% - 39px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*checkbox*/
label{
	vertical-align: middle;
	margin-bottom: 2px;
	cursor: pointer;
}
input[type=checkbox]+.text:before{
	font-family: fontAwesome;
	font-weight: bold;
	font-size: 13px;
	color: #333;
	content: " ";
	background-color: #fafafa;
	border: 1px solid #c8c8c8;
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	border-radius: 0;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	height: 18px;
	line-height: 16px;
	min-width: 18px;
	margin-right: 0;
	margin-bottom: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
input[type=checkbox].colored-common:checked + .text {
  color: #f08e2d;
  padding: 0px;
  margin: 0px;
}
input[type=checkbox].colored-common:checked + .text:before {
  border-color: #f08e2d;
  color: #f08e2d;
  display: inline-block;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f00c";
  padding: 0px;
  margin: 0px;
}