<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="ConsoleLog" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p  %d %-15c{1} [%x]: %m%n"/>
        </layout>
    </appender>
    <appender name="DailyFile" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File"
               value="F:/webchat.log"/>
        <param name="append" value="false"/>
        <param name="datePattern" value="'.'yyyy-MM-dd'.log'"/>
        <param name="ImmediateFlush" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.TTCCLayout">
            <param name="dateFormat" value="yyyy-MM-dd HH:mm:ss"/>
        </layout>
    </appender>


    <logger name="WEB-APP" additivity="false">
        <level value="debug"/>
        <appender-ref ref="DailyFile"/>
        <appender-ref ref="ConsoleLog"/>
    </logger>

    <logger name="com.ibatis" additivity="true">
        <level value="DEBUG"/>
    </logger>
    <logger name="java.sql.Connection" additivity="true">
        <level value="DEBUG"/>
    </logger>
    <logger name="java.sql.Statement" additivity="true">
        <level value="DEBUG"/>
    </logger>

    <logger name="java.sql.ResultSet" additivity="true">
        <level value="DEBUG"/>
    </logger>


    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="ConsoleLog"/>
        <appender-ref ref="DailyFile"/>
    </root>

</log4j:configuration>
