@charset "utf-8";
/*@theme_color: green;*/
/*=======================================================================*/
button {
  border: none;
  padding: 0;
  margin: 0;
}
p,
ul {
  margin: 0;
  padding: 0;
}
a {
  cursor: pointer;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../../../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../../../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../../../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../../../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../../../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../../../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fontawesome-icon li a .fa {
  font-size: 14px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
.pt-with-header {
  padding-top: 60px;
}
.pd-with-bottom {
  padding-bottom: 60px;
}
/*bgcolor*/
.bg_color {
  background: #cc324b !important;
}
.bg_color_grey {
  background: #eee;
}
/*display common*/
.inline_block {
  display: inline-block;
}
.table_cell {
  display: table-cell;
}
.align_center {
  text-align: center;
}
.align_left {
  text-align: left;
}
.align_right {
  text-align: right;
}
/*text ellipsis common*/
.text_ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line_ellipsis_2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.line_ellipsis_3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.line_ellipsis_4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.text-line-height {
  line-height: 34px;
}
/*float common*/
.clx:before,
.clx:after {
  content: '';
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.common_color_radio {
  font-size: 14px;
}
.common_color_radio:before {
  color: #cc324b !important;
  border-color: #cc324b !important;
  line-height: 19px !important;
}
/*btn color common*/
.btn_common_color {
  background-color: #cc324b;
  border: 1px solid #E5892D;
  color: #fff;
  padding: 7px 25px;
}
.btn_common_color:active {
  box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.btn_common_color:hover {
  background: #FFAB59;
  border: 1px solid #FFA852;
  color: #fff;
}
.btn_common {
  background-color: #cc324b;
  border: 1px solid #E5892D;
  color: #fff;
}
.btn_common:active {
  box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.btn_common:hover {
  background: #FFAB59;
  border: 1px solid #FFA852;
  color: #fff;
}
.btn_default_color {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #444;
  padding: 7px 25px;
}
.btn_default_color:active {
  box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.btn_default_color:hover {
  background: #ddd;
}
.btn_cancel_color {
  padding: 7px 25px;
  background: #8C8C8C;
  border: 1px solid #8C8C8C;
  color: #ffffff;
  margin-left: 15px !important;
}
.btn_cancel_color:active {
  box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.btn_cancel_color:hover {
  background: #5E5E5E;
  border: 1px solid #5E5E5E;
  color: #fff;
}
.btn_default {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #444;
}
.btn_default:active {
  box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.2) !important;
}
.btn_default:hover {
  background: #ddd;
}
input[type=checkbox] + .common_color_checkbox:before {
  padding: 0 !important;
  margin: 0px !important;
}
/*border common*/
.bordered-common {
  border-color: #cc324b !important;
}
input[type=file] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: 0;
  left: 0;
}
/*checkbox*/
input[type=checkbox].colored-common:checked + .text {
  color: #cc324b;
  padding: 0px;
  margin: 0px;
}
input[type=checkbox].colored-common:checked + .text:before {
  border-color: #cc324b;
  color: #cc324b;
  display: inline-block;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f00c";
  padding: 0px;
  margin: 0px;
}
.common_table_checkbox label {
  padding: 0;
  margin: 0px;
  cursor: pointer;
}
.common_form_checkbox {
  padding-top: 3px;
}
.common_form_checkbox label {
  padding: 0;
  margin: 0px;
  cursor: pointer;
}
.no_margin {
  margin: 0;
}
.no_margin_left {
  margin-left: 0px;
}
.no_margin_top {
  margin-top: 0px;
}
.no_margin_right {
  margin-right: 0px;
}
.no_margin_bottom {
  margin-bottom: 0px;
}
.no_padding {
  padding: 0;
}
.no_padding_left {
  padding-left: 0px;
}
.no_padding_top {
  padding-top: 0px;
}
.no_padding_right {
  padding-right: 0px;
}
.no_padding_bottom {
  padding-bottom: 0px;
}
.no_border {
  border: none !important;
}
.no_box_shadow {
  box-shadow: none !important;
}
input[type=checkbox]:checked + .text:before,
input[type=radio]:checked + .text:before {
  display: inline-block;
  content: '';
  background-color: #f5f8fc;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  border-color: #cc324b !important;
}
input[type=checkbox] + .text:before,
input[type=radio] + .text:before {
  font-family: fontAwesome;
  font-weight: bold;
  font-size: 10px;
  color: #cc324b;
  content: " ";
  background-color: #fafafa;
  border: 1px solid #c8c8c8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 19px;
  line-height: 16px;
  min-width: 19px;
  margin-right: 5px;
  margin-bottom: 2px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all 0.3s ease;
}
input[type=checkbox]:checked + .text,
input[type=radio]:checked + .text {
  color: #cc324b ;
}
input[type=checkbox]:checked + .text:before,
input[type=radio]:checked + .text:before {
  border-color: #cc324b !important;
  color: #cc324b !important;
}
input[type=radio]:checked + .text:before {
  content: "\f111";
}
input[type=radio] + .text:before {
  border-radius: 100% !important;
  font-size: 10px;
  font-family: FontAwesome;
  line-height: 18px;
  height: 19px;
  text-align: center;
  min-width: 19px;
}
/*过渡通用样式*/
.transition_01 {
  transition: all linear .1s;
  -webkit-transition: all linear .1s;
}
.transition_02 {
  transition: all linear .2s;
  -webkit-transition: all linear .2s;
}
.transition_03 {
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
}
.transition_04 {
  transition: all linear .4s;
  -webkit-transition: all linear .4s;
}
.transition_05 {
  transition: all linear .5s;
  -webkit-transition: all linear .5s;
}
/*add  yuting*/
/*表格列表样式*/
.search_more {
  line-height: 30px;
  cursor: pointer;
  margin-bottom: 15px;
}
.search_more i {
  margin-left: 10px;
}
.search_more:hover {
  color: #f4b400;
}
.toolbar_padd_bot {
  padding-bottom: 15px;
}
/*弹窗最大高度*/
@media screen and (min-width: 768px) {
  .max-h {
    max-height: 300px;
    overflow: auto;
  }
}
@media screen and (min-width: 1366px) {
  .max-h {
    max-height: 400px;
    overflow: auto;
  }
}
@media screen and (min-width: 1920px) {
  .max-h {
    max-height: 550px;
    overflow: auto;
  }
}
.tip {
  position: relative;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  margin-right: 10px;
  background-color: rgba(187, 187, 187, 0.2);
  padding: 0 5px;
  color: #cc324b;
}
.tip:before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  height: 100%;
  width: 5px;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 5px solid rgba(187, 187, 187, 0.2);
}
.tip_hastrash {
  position: relative;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  margin-right: 10px;
  background-color: rgba(187, 187, 187, 0.2);
  padding: 0 5px;
  font-size: 13px;
  color: #cc324b;
}
.tip_hastrash:before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  height: 100%;
  width: 5px;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 5px solid rgba(187, 187, 187, 0.2);
}
.tip_hastrash i {
  cursor: pointer;
  width: 13px;
  height: 13px;
  text-align: center;
  line-height: 13px;
}
.tip_hastrash i:hover {
  background-color: #cc324b;
  border-radius: 3px;
  line-height: 13px;
  color: #ffffff;
}
.common_font {
  font-size: 14px;
}
@media (max-width: 1400px) {
  .common_font {
    font-size: 13px;
  }
}
footer {
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  width: 100%;
}
/*顶部导航栏菜单列表*/
.sidebar_menuList {
  position: absolute;
  height: 45px;
  display: table;
  list-style: none;
  left: 280px;
}
.sidebar_menuList li {
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding: 0 20px;
  font-weight: 600;
}
@media (max-width: 1400px) {
  .sidebar_menuList li {
    font-size: 14px;
  }
}
.sidebar_menuList li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  transition: all linear .2s;
  -webkit-transition: all linear .2s;
}
.sidebar_menuList li:not(.active):hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.sidebar_menuList li.active {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
}
.sidebar_menuList li.active:before {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
/*分页焦点颜色充值*/
.paginationjs .paginationjs-pages li.active > a {
  background-color: #cc324b !important;
}
/*通用table样式*/
table {
  border: 1px solid #ddd;
}
table thead > tr {
  display: table-row;
  background-color: #eee;
}
table tbody > tr:nth-child(2n-1) {
  background-color: #f9f9f9;
}
table thead > tr > th,
table tbody > tr > td {
  display: table-cell;
  padding: 12px;
  border: 1px solid #dddddd;
  font-size: 14px;
  text-align: left;
  border-left: 0;
  border-top: 0;
  height: 20px;
}
table .bg-white tbody > tr:nth-child(2n-1) {
  background: #fff !important;
}
table thead > tr > th:last-child,
table tbody > tr > td:last-child {
  border-right: 0;
}
table tbody > tr:last-child > td {
  border-bottom: 0;
}
table thead > tr > th:nth-child(common_table_checkbox),
table tbody > tr > td:nth-child(common_table_checkbox) {
  text-align: center;
}
table tbody > tr > td.edit_area {
  width: 200px;
}
table tbody > tr > td.edit_area > button {
  position: relative;
  display: inline-block;
}
table tbody > tr > td.edit_area > button + button {
  margin-left: 10px;
}
/*通用dialog样式*/
.input_prompt {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
}
/*通用表单样式*/
.common_head_bottom_border {
  border-bottom: 3px solid #cc324b;
}
.common_form_title_font {
  font-size: 16px !important;
}
.form_input_dot {
  line-height: 34px;
  font-size: 100%;
  top: 0;
}
.form_input_tip {
  line-height: 34px;
  margin-left: 10px;
  color: #7C7C7C;
}
.form_header {
  min-height: 43px;
  padding: 10px;
}
.form_header span {
  font-size: 14px !important;
  line-height: 23px !important;
  height: 23px;
  color: #000;
}
.form-control.date-picker+i{display: none!important;}