<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.victor.mapper.AlipayStoreInfoMapper">
    <insert id="insertAlipayOrderInfo" parameterType="com.victor.pojo.AlipayStoreInfo">
        INSERT INTO ESALES_STORES_INFO (
        rel_state, remark,partner_key,partnerid,seller_email,brandid,ouid,disabled,createuserid,
        createusername,createusercode,createdatetime,createip,storecode,orgcode
        )
        VALUES
        (#{rel_state}, #{remark}, #{partner_key}, #{partnerid}, #{seller_email},
        #{brandid}, #{ouid}, #{disabled}, #{createuserid}, #{createusername},
        #{createusercode},now(), #{createip},#{storecode},#{orgcode})
    </insert>
    <update id="updateAlipayOrderInfo" parameterType="com.victor.pojo.AlipayStoreInfo">
        UPDATE ESALES_STORES_INFO
        <set>
            <if test="rel_state!=null">
                rel_state = #{rel_state},
            </if>
            <if test="remark!=null">
                remark = #{remark},
            </if>
            <if test="partner_key!=null">
                partner_key = #{partner_key},
            </if>
            <if test="partnerid!=null">
                partnerid = #{partnerid},
            </if>
            <if test="seller_email!=null">
                seller_email = #{seller_email},
            </if>
            <if test="disabled!=null">
                disabled = #{disabled},
            </if>
            <if test="updateUserid!=null">
                updateUserid = #{updateUserid},
            </if>
            <if test="updateUsername!=null">
                updateUsername = #{updateUsername},
            </if>
            <if test="updateUserCode!=null">
                updateUserCode = #{updateUserCode},
            </if>
            <if test="updateIp!=null">
                updateIp = #{updateIp},
            </if>
            updateDatetime = now()
        </set>
        <where>
            1=1
            <if test="id!=null">
                AND id = #{id}
            </if>
            <if test="ouid!=null">
                AND ouid = #{ouid}
            </if>
            <if test="brandid!=null">
                AND brandId = #{brandid}
            </if>
            <if test="storecode!=null">
                AND storecode = #{storecode}
            </if>
            <if test="orgcode!=null">
                AND orgcode = #{orgcode}
            </if>
        </where>
    </update>
    <select id="queryAlipayOrderInfo" parameterType="com.victor.pojo.AlipayStoreInfo"
            resultType="com.victor.pojo.AlipayStoreInfo">
        select rel_state, remark,partner_key,partnerid,seller_email,brandid,ouid,disabled,createuserid,
        createusername,createusercode,createdatetime,createip,storecode,orgcode,updateUserid,updateUsername,
        updateUserCode,updateDatetime,updateIp
        from ESALES_STORES_INFO
        <where>
            1=1
            <if test="id!=null">
                AND id = #{id}
            </if>
            <if test="ouid!=null">
                AND ouid = #{ouid}
            </if>
            <if test="brandid!=null">
                AND brandId = #{brandid}
            </if>
            <if test="storecode!=null">
                AND storecode = #{storecode}
            </if>
            <if test="orgcode!=null">
                AND orgcode = #{orgcode}
            </if>
        </where>

    </select>
    
    <select id="queryAlipayPayInfo" parameterType="com.victor.pojo.AlipayStoreInfo"
            resultType="com.victor.pojo.AlipayStoreInfo">
        select partner_key,partnerid,seller_email,actversion,s.act_name,s.agentid
        from ESALES_STORES_INFO s
        left join ESALES_STORE_ACOUNT_RELATION r on s.id=r.ACTID
        <where>
            1=1
            <if test="id!=null">
                AND r.id = #{id}
            </if>
            <if test="ouid!=null">
                AND r.ouid = #{ouid}
            </if>
            <if test="brandid!=null">
                AND r.brandId = #{brandid}
            </if>
            <if test="storecode!=null">
                AND r.storecode = #{storecode}
            </if>
            <if test="orgcode!=null">
                AND r.orgcode = #{orgcode}
            </if>
        </where>

    </select>
</mapper>