<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatiorg//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.victor.mapper.AlipayOrderInfoMapper">

    <select id="queryAlipayOrderInfo" resultType="com.victor.pojo.AlipayOrderEntity"
            parameterType="com.victor.pojo.AlipayOrderEntity">
        SELECT
        partner,
        notify_url,
        out_trade_no,
        subject,
        product_code,
        total_fee,
        seller_id,
        seller_email,
        buyer_id,
        buyer_email,
        operator_code,
        operator_id,
        body,
        show_url,
        currency,
        price,
        quantity,
        goods_detail,
        extend_params,
        it_b_pay,
        royalty_type,
        royalty_parameters,
        channel_parameters,
        dynamicid_type,
        dynamic_id,
        remark,
        error,
        detail_error_code,
        detail_error_des,
        result_code,
        trade_no,
        trade_status,
        refund_code,
        refund_time,
        cancel_code,
        cancel_time,
        machine_code,
        cashier,
        refund_fee,
        disabled,
        createuserid,
        createusername,
        createusercode,
        createdatetime,
        createip,
        updateuserid,
        updateusername,
        updateusercode,
        updatedatetime,
        updateip,
        id,
        brandid,
        ouid,
        storecode,
        orgcode
        FROM
        ESALE_MOBILEPAY_ORDER
        <where>
            1=1
            <if test="id!=null">
                AND id = #{id}
            </if>
            <if test="ouid!=null">
                AND ouid = #{ouid}
            </if>
            <if test="brandid!=null">
                AND brandId = #{brandid}
            </if>
            <if test="storecode!=null">
                AND storecode = #{storecode}
            </if>
            <if test="orgcode!=null">
                AND orgcode = #{orgcode}
            </if>
            <if test="out_trade_no!=null">
                AND out_trade_no = #{out_trade_no}
            </if>
            <if test="trade_no!=null">
                AND trade_no = #{trade_no}
            </if>
        </where>

    </select>

    <update id="updateAlipayOrderInfo" parameterType="com.victor.pojo.AlipayOrderEntity">
        update ESALE_MOBILEPAY_ORDER
        <set>
            <if test="notify_url!=null">
                notify_url = #{notify_url},
            </if>
            <if test="error!=null">
                error = #{error},
            </if>
            <if test="detail_error_code!=null">
                detail_error_code = #{detail_error_code},
            </if>
            <if test="detail_error_des!=null">
                detail_error_des = #{detail_error_des},
            </if>
            <if test="result_code!=null">
                result_code = #{result_code},
            </if>
            <if test="trade_no!=null">
                trade_no = #{trade_no},
            </if>
            <if test="trade_status!=null">
                trade_status = #{trade_status},
            </if>
            <if test="refund_code!=null">
                refund_code = #{refund_code},
                refund_time = now(),
            </if>
            <if test="cancel_code!=null">
                cancel_code = #{cancel_code},
                cancel_time=now()
            </if>
            <if test="refund_fee!=null">
                refund_fee = #{refund_fee},
            </if>
            <if test="updateuserid!=null">
                updateuserid = #{updateuserid},
            </if>
            <if test="updateusername!=null">
                updateusername = #{updateusername},
            </if>
            <if test="updateusercode!=null">
                updateusercode = #{updateusercode},
            </if>
            <if test="updateip!=null">
                updateip = #{updateip},
            </if>
            updatedatetime = now()
        </set>
        <where>
            1=1
            <if test="id!=null">
                AND id = #{id}
            </if>
            <if test="ouid!=null">
                AND ouid = #{ouid}
            </if>
            <if test="brandid!=null">
                AND brandId = #{brandid}
            </if>
            <if test="storecode!=null">
                AND storecode = #{storecode}
            </if>
            <if test="orgcode!=null">
                AND orgcode = #{orgcode}
            </if>
            <if test="out_trade_no!=null">
                AND out_trade_no = #{out_trade_no}
            </if>
        </where>
    </update>

    <insert id="insertAlipayOrderInfo" parameterType="com.victor.pojo.AlipayOrderEntity">
        insert into ESALE_MOBILEPAY_ORDER(
        partner,notify_url,out_trade_no,subject,product_code,total_fee,seller_id,seller_email,buyer_id,buyer_email,
        operator_code,operator_id,body,show_url,currency,price,quantity,goods_detail,extend_params,it_b_pay,
        royalty_type, royalty_parameters,channel_parameters,dynamicid_type,dynamic_id,remark,error,detail_error_code,
        detail_error_des,result_code,trade_no,trade_status, refund_code,
        refund_time,cancel_code,cancel_time,machine_code,
        cashier,refund_fee,disabled,createuserid,createusername, createusercode,createdatetime, createip,id,brandid,
        ouid,storecode, orgcode,act_name,agentid)
        values(
        #{partner},#{notify_url},#{out_trade_no},#{subject},#{product_code},#{total_fee},#{seller_id},#{seller_email},#{buyer_id},#{buyer_email},
        #{operator_code},#{operator_id},#{body},#{show_url},#{currency},#{price},#{quantity},#{goods_detail},#{extend_params},#{it_b_pay},
        #{royalty_type},#{ royalty_parameters},#{channel_parameters},#{dynamicid_type},#{dynamic_id},#{remark},#{error},#{detail_error_code},
        #{detail_error_des},#{result_code},#{trade_no},#{trade_status},#{ refund_code},#{ refund_time},#{cancel_code},#{cancel_time},#{machine_code},
        #{cashier},#{refund_fee},#{disabled},#{createuserid},#{createusername},#{ createusercode},now(),#{ createip},#{id},#{brandid},
        #{ouid},#{storecode},#{orgcode},#{act_name},#{agentid}
        )
    </insert>
    <select id="queryOrder" resultType="com.victor.pojo.AlipayOrderEntity" parameterType="java.util.Map">
        SELECT
                o.OUT_TRADE_NO,
                o.TRADE_NO,
                date_format(o.createDatetime,'%Y-%c-%d %h:%i:%s') createdatetime,
                o.createUsername as cashier,
                o.TOTAL_FEE,
                '支付宝支付' as payMehod,
                s.storename as storeName,
                case when o.refund_code = 'SUCCESS' then '退款成功'
                      when o.trade_status = 'TRADE_SUCCESS' then '交易成功'
                      when o.trade_status = 'TRADE_CLOSED' then '交易关闭'
                      when o.trade_status = 'TRADE_FINISHED' then '交易成功且关闭'
                     when o.result_code = 'ORDER_FAIL' then '下单失败'
                     when o.result_code ='ORDER_SUCCESS_PAY_SUCCESS' then '下单成功并且支付成功'
                     when o.result_code ='ORDER_SUCCESS_PAY_FAIL' then '下单成功支付失败'
                     when o.result_code ='ORDER_SUCCESS_PAY_INPROCESS' then '下单成功支付处理中'
                     when o.result_code ='SUCCESS' then '预下单成功'
                     when o.result_code ='FAIL' then '预下单失败'
                     when o.result_code ='UNKNOWN' then '处理结果未知'
                     else o.result_code ='异常订单' end as result_code


        FROM
            ESALE_MOBILEPAY_ORDER o
        LEFT JOIN ESALES_STORES_INFO s ON o.ouId = s.OUID
        AND o.brandId = s.brandId
        AND s.STORECODE = o.STORECODE
        AND s.ORGCODE = o.ORGCODE
        <where>
            1=1
            <if test="out_trade_no!=null and out_trade_no!=''">
                and o.out_trade_no=#{out_trade_no}
            </if>
            <if test="trade_no!=null and trade_no!=''">
                and  o.trade_no=#{trade_no}
            </if>
            <if test="casher!=null and casher!=''">
                and o.createUserCode=#{casher}
            </if>
            <if test="store!=null and store!=''">
                and o.STORECODE=#{store}
            </if>
            <if test="begin_time!=null and begin_time!=''">
                and to_days(o.createDatetime)>=to_days(#{begin_time})
            </if>
            <if test="end_time!=null and end_time!=''">
                and  <![CDATA[to_days(o.createDatetime)<=to_days(#{end_time}) ]]>
            </if>
        </where>
      order by  o.createDatetime desc
      limit #{offset} , #{limit}
    </select>
    <select id="queryOrderNum" resultType="int" parameterType="java.util.Map">
    SELECT
    count(1) as totalNum
    FROM
    ESALE_MOBILEPAY_ORDER o
    LEFT JOIN ESALES_STORES_INFO s ON o.ouId = s.OUID
    AND o.brandId = s.brandId
    AND s.STORECODE = o.STORECODE
    AND s.ORGCODE = o.ORGCODE
    <where>
        1=1
        <if test="out_trade_no!=null and out_trade_no!=''">
            and o.out_trade_no=#{out_trade_no}
        </if>
        <if test="trade_no!=null and trade_no!=''">
            and  o.trade_no=#{trade_no}
        </if>
        <if test="casher!=null and casher!=''">
            and o.createUserCode=#{casher}
        </if>
        <if test="store!=null and store!=''">
            and o.STORECODE=#{store}
        </if>
        <if test="begin_time!=null and begin_time!=''">
            and to_days(o.createDatetime)>=to_days(#{begin_time})
        </if>
        <if test="end_time!=null and end_time!=''">
            and  <![CDATA[to_days(o.createDatetime)<=to_days(#{end_time}) ]]>
        </if>
    </where>
</select>
    <select id="queryOrderMoney" resultType="double" parameterType="java.util.Map">
        SELECT
        SUM(o.TOTAL_FEE) as totalFee
        FROM
        ESALE_MOBILEPAY_ORDER o
        LEFT JOIN ESALES_STORES_INFO s ON o.ouId = s.OUID
        AND o.brandId = s.brandId
        AND s.STORECODE = o.STORECODE
        AND s.ORGCODE = o.ORGCODE
        <where>
            o.result_code ='ORDER_SUCCESS_PAY_SUCCESS'
            <if test="out_trade_no!=null and out_trade_no!=''">
                and o.out_trade_no=#{out_trade_no}
            </if>
            <if test="trade_no!=null and trade_no!=''">
                and  o.trade_no=#{trade_no}
            </if>
            <if test="casher!=null and casher!=''">
                and o.createUserCode=#{casher}
            </if>
            <if test="store!=null and store!=''">
                and o.STORECODE=#{store}
            </if>
            <if test="begin_time!=null and begin_time!=''">
                and to_days(o.createDatetime)>=to_days(#{begin_time})
            </if>
            <if test="end_time!=null and end_time!=''">
                and  <![CDATA[to_days(o.createDatetime)<=to_days(#{end_time}) ]]>
            </if>
        </where>
    </select>
</mapper>